body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  max-width: 1400px;
}

section {
  overflow: auto;
  /*padding: 20px;*/
}

.launch:hover .launch-details-popup {
  display: block;
  position: absolute;
}

.launch-details-popup {
  display: none;
  /*position: absolute;*/
  /*top: 20px;*/
  /*left: 20%;*/
  transform: translate(50%, 0%);
  background: white;
  border: 1px solid black;
  max-width: 200px;
  z-index: 100;
}


h2.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 35px;
  background: #555;
  color: #f1f1f1;
  margin-top: 0px;
}

div.search {
  position: fixed;
  top: 70px;
  width: 100%;
  padding: 25px;
  background: #555;
  color: #f1f1f1;
}

ul {
  margin: 150px;
  padding: 50px;
  background: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}